a:hover{
    color: black;
    background-color: gray;
    font-size: 20px;
}
a:active{
    background-color:pink;
}
.hd{
    font-family:Tahoma, sans-serif;
    color: rgb(15, 139, 173);
    margin-top: 10px;
}
.aspc{
    position:absolute;
    top: 20px;
    left: 1290px;
}
.aspct{
    margin-right: 25px;
    font-size: 15px;
    font-weight: 500;
}
.hd,.aspc{
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: rgb(15, 139, 173);
    font-weight: normal;
}
h1::after{
    content: "TOP";
    background-color: yellow;
    color: black;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    margin-left: 25px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
}
.postimg{
    height: 300px;
    width: 620px;
}
.posted{
    font-style: italic;
}
.s1{
    color: rgb(15, 139, 173);
}
.bords{
    border-top: 8px solid rgb(15, 139, 173);
    border-bottom: 8px solid rgb(15, 139, 173);
}
.align{
    font-family: sans-serif;
    width: 600px;
    margin-left: 600px;
}
.bx{
    width: 1010px;
    height: 50px;
    border: 0px solid;
    background-color: rgb(248, 246, 248);
    padding:10px;
    position:relative;
}
.aligntxt{
    text-align:justify;
}
.bottom{
    position: absolute;
    border-top: 4px solid rgb(15, 139, 173);
    border-bottom: 4px solid rgb(15, 139, 173); 
    width: 340px;
    top: 110px;
    left: 1300px;
}
aside{
    background-color: rgb(248, 246, 248);
    padding: 10px;
}
li{
    font-size: 14.5px;
}
.asc{
    text-align: center;
}
button{
    margin-left: 1000px;
}
footer{
    margin-top: 25px;
    margin-bottom: 50px;
}
li:first-child{
    font-weight: bold;
}
li:last-child{
    font-style: italic;
}
.asc{
    margin-top: 40px;
    font-weight: bolder;
    margin-bottom: 40px;
}
.lirmv{
    list-style-type: none;
}
.imgbot{
    margin-bottom: 50px;
}
.imgref{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px ;
}
.imgp{
    font-style: italic;
    position: absolute;
    margin-left: 110px;
    margin-top: 68px;
}
